.avatar-container {
    background: #8bc9f1;
    margin-top: -1rem;
    .content {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        justify-content: space-evenly;
        align-items: center;
        .avatar-menu{
            height: 63px;
            width: 65px;
        }
        .user-name {
            font-weight: bold;
            color: #000000;
        }
        .user-info {
            padding: 1rem;
            .button-profile {
                margin: -0.5rem;
                padding-top: 0.4rem;
                color: #000000;
            }
        }
    }
}
