.profile-container {
    display: flex;
    flex-wrap: wrap;
    .menu-profile {
        flex: 1px;
        padding: 20px;
        margin: 10px;
    }
    .information-user {
        flex: 3px;
        margin: 10px;
        width: 230%;
    }
    .password-user {
        flex: 3px;
        margin: 10px;
        width: 230%;
    }
}
.infor-container {
    .infor-content {
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .infor-select {
        display: flex;
        justify-content: center;
        width: 100%;
        .input-data {
            margin-left: 6px;
        }
    }

    .gender {
        margin-top: 16px;
        margin-right: 5px;
        flex: auto;
    }

    .date {
        margin-top: 10px;
    }

    .button-update {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .reason-info {
        margin-top: auto;
    }
    .error {
        color: red;
    }
    .infor-account {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 4px;
        .E-mail {
            margin-right: 5px;
        }
    }
}
// .menu-profile
.menu-container {
    .menu-content {
        display: flex;
        flex-direction: row;
        padding: 0rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .menu-avatar {
            height: 3rem;
            width: 3rem;
            padding: 3.2rem;
            margin-left: 1px;
        }
    }
    .menu-info {
        margin-top: -11px;
        margin-left: 22px;
        .btn-upload {
            display: none;
        }
        .menu-username {
            margin-top: -0.5rem;
            margin-bottom: 1rem;
            font-size: 27px;
            margin-right: 18px;
        }
    }
    .menu-item {
        padding: 1rem;
        margin-bottom: 1.8rem;
    }
    .list-item {
        width: 113%;
    }
}

.avatar-profile {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    position: relative;
}
.avatar-profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 100%;
}
.avatar-profile .circular {
    //position: absolute;
    position: absolute;
    z-index: 10000;
    color: white;
    width: 100%;
    height: 100%;
    left: 0;
    margin-left: 1.5em;
    margin-top: 1.5em;
}
