.action-container {
    display: flex;
    align-items: center;
    .button-creat-multiple-choice {
        display: flex;
        padding-top: 1rem;
        align-items: center;
    }
    .button-creat-essay {
        padding: 0.5rem;
        padding-top: 1.5rem;
    }
    .create-quetion {
    }
    .search {
        justify-content: left;
        margin-left: 0.5rem;
    }
    .select-species {
        display: flex;
        padding: 0.5rem;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
        .question-type {
            margin-right: 6px;
        }
    }
    .Question-topic {
        margin-left: -3px;
        margin-top: 7px;
        width: 20%;
    }
    .icon-download {
        margin-left: auto;
        align-items: center;
        margin-top: 22px;
    }
    .button-question {
        display: flex;
        flex-direction: column;
        flex: auto;
        .btn-search-question {
            margin-left: auto;
            align-items: center;
            height: fit-content;
            margin-top: 6px;
            margin-bottom: 5px;
        }
        .btn-library-question {
            width: fit-content;
            margin-left: auto;
        }
    }
}
.input-data {
    // .name-question {
    //     display: flex;
    //     flex-direction: column-reverse;
    //     padding: 0.5rem;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    // .answer {
    //     display: flex;
    //     flex-direction: column-reverse;
    //     padding: 0.5rem;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    .group-topic-questionCombobox {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        .question-combobox {
            display: flex;
            flex-direction: column-reverse;
            padding: 0.5rem;
            padding-top: 1rem;
            justify-content: space-between;
            align-items: center;
        }
        .input-topic {
            display: flex;
            flex-direction: column-reverse;
            padding: 0.5rem;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
        }
    }

    // .score {
    //     display: flex;
    //     flex-direction: column-reverse;
    //     padding: 0.5rem;
    //     justify-content: space-between;
    //     align-items: center;
    // }
}
